---
import Instagram from "../../public/svg/instagram.svg";
---

<footer
    class="container flex flex-row items-center place-content-center mx-auto gap-4 my-6 p-6"
>
    <a
        href="https://www.instagram.com/falabaratas.gal/"
        rel="nofollow"
        target="_new"
    >
        <Instagram />
    </a>

    <a href="/"> Falabaratas © </a>
</footer>
